html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* VARIABLES */
/* defaults */
/* defaults end */
/* VARIABLES END */
/* MIXINS */
/* MIXINS END */
/* CLEARFIX */
.clearfix, .user, .tabs_navigation {
  zoom: 1; }
  .clearfix:before, .user:before, .tabs_navigation:before, .clearfix:after, .user:after, .tabs_navigation:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after, .user:after, .tabs_navigation:after {
    clear: both; }

/* CLEARFIX END */
/* RESETS */
html, body {
  height: 100%; }

body {
  font-family: 'Arimo', Helvetica, sans-serif;
  font-size: 62.5%; }

* {
  outline: none; }

a {
  text-decoration: none; }

input, input::-moz-focus-inner {
  border: none; }

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none; }

input:focus, textarea:focus, input:focus::-moz-focus-inner {
  outline: none;
  border: none; }

/* RESETS END */
.rounded, .section, .btn, .input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.rounded-big {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px; }

/* LAYOUT */
.two-columns {
  display: table;
  width: 100%;
  min-height: 100%; }

.sidebar, .wrapper {
  display: table-cell;
  vertical-align: top; }

.sidebar {
  background: #05090c;
  width: 250px; }

.wrapper {
  background: #f4f5f6; }

.content, .section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

.content {
  padding: 25px; }

.section {
  padding: 20px;
  background: #ffffff;
  border: 1px solid #dbdcdd;
  margin-bottom: 50px; }
  .section:last-child {
    margin-bottom: 0px; }

.section-heading {
  font-size: 3em;
  padding: 0 10px 10px 0;
  margin-bottom: 25px;
  border-bottom: 3px solid #f1b603;
  color: #182530;
  display: inline-block;
  font-weight: bold; }

/* LAYOUT END */
/* BUTTONS AND LINKS */
.btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 6px 10px;
  border: 2px solid;
  font-size: 1.4em;
  cursor: pointer;
  text-align: center;
  color: #ffffff; }

.btn-wide {
  padding: 6px 15px; }

.btn-apply {
  background: #89bc32;
  border-color: #75a22b; }
  .btn-apply:hover {
    background: #ffffff;
    color: #89bc32; }

.btn-deny {
  background: #d95353;
  border-color: #75a22b; }
  .btn-deny:hover {
    background: #ffffff;
    color: #d95353; }

.btn-logout {
  background: #d95353;
  text-decoration: none;
  font-size: 0.8em;
  border: none;
  padding: 2px 14px 3px; }
  .btn-logout:hover {
    background: #ffffff;
    color: #d95353; }

.link-simple {
  text-decoration: none;
  font-size: 1.3em;
  color: #ffffff;
  float: right;
  margin: 12px 12px 0 0; }
  .link-simple:hover {
    text-decoration: underline; }

/* BUTTONS AND LINKS END */
/* INPUTS */
.input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 8px;
  font-size: 1.4em;
  text-align: center;
  margin: 0px;
  border: 1px solid #dbdcdd;
  width: 100%; }
  .input:focus {
    border: 1px solid #89bc32; }

.input-search {
  width: 180px;
  height: 100%;
  text-align: left;
  -webkit-box-sizing: none;
  -moz-box-sizing: none;
  box-sizing: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: url(../images/search-white.png) no-repeat 7px 7px white;
  padding-left: 28px;
  font-size: 1.2em; }
  .input-search:focus {
    width: 250px; }

.input-error {
  border: 1px solid #d95353; }
  .input-error:focus {
    border: 1px solid #983a3a; }

/* INPUTS END */
/* FORM ELEMENTS */
.form-list li {
  margin-bottom: 10px; }
  .form-list li:last-child {
    margin-bottom: 0px; }

/* FORM ELEMENTS END */
/* ALERTS */
.alert {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: height, margin, padding;
  -moz-transition-property: height, margin, padding;
  -o-transition-property: height, margin, padding;
  transition-property: height, margin, padding;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  position: relative;
  font-size: 1.4em;
  padding: 15px;
  color: #ffffff;
  text-align: left; }

.alert-close {
  background: url(../images/allertsButtons.png) -4px -2px no-repeat;
  display: block;
  height: 26px;
  width: 26px;
  float: right;
  margin: -5px -5px 0 0; }

.alert-error {
  background: #d95353;
  border: 1px solid #983a3a; }

.alert-success {
  background: #89bc32;
  border: 1px solid #75a22b; }

.alert-warning {
  background: #fdcb34;
  border: 1px solid #f1b603; }

/* ALERTS END */
/* MENU'S */
.navigation li {
  border-bottom: 1px solid #080f15; }
  .navigation li:first-child {
    border-top: 1px solid #080f15; }
.navigation .menu-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 15px;
  width: 100%;
  height: 50px;
  display: block;
  font-size: 1.6em;
  line-height: 3.2em;
  color: #ffffff;
  background: url(../images/menuArrows.png) no-repeat;
  background-position: 222px 14px; }
  .navigation .menu-item:hover, .navigation .menu-item.active {
    color: #000000;
    background-color: #f4f5f6;
    background-position: 222px -115px; }

/* breadcrumbs */
.breadcrumb {
  float: left;
  margin-left: 10px; }
  .breadcrumb li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    background: url(../images/breadcrumbsArrow.png) right 0 no-repeat;
    padding: 17px 45px 17px 10px;
    height: 50px; }
    .breadcrumb li.breadcrumb-mobile-first {
      display: none; }
    .breadcrumb li:last-child {
      background: none; }
  .breadcrumb .breadcrumb-item {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-bottom: 1px solid white;
    border-width: 3px;
    padding-bottom: 3px;
    color: #000000;
    font-size: 1.6em; }
    .breadcrumb .breadcrumb-item:hover, .breadcrumb .breadcrumb-item.active {
      border-bottom: 1px solid #f1b603;
      border-width: 2px; }

/* breadcrumbs end */
/* dropcrumb */
.breadcrumb-wrapper {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.breadcrumb-dropdown {
  display: none; }

@media only screen and (max-width: 640px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .breadcrumb {
    position: absolute;
    margin: 0;
    top: 30px; }
    .breadcrumb li {
      width: 100%; }

  .breadcrumb-wrapper {
    width: 100%;
    padding: 0 20px;
    height: 50px; }

  .breadcrumb-dropdown {
    display: block;
    width: 100%;
    height: 30px; } }
/* dropcrumb end */
/* MENU'S END */
/* LOGIN SCREEN */
#login {
  width: 100%;
  height: 100%;
  display: block;
  background: #f4f5f6; }
  #login > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    display: block;
    padding-top: 100px;
    text-align: center; }

.login_form {
  background: url(../images/user_menu_background.jpg);
  width: 350px;
  margin: 25px auto 0;
  padding: 10px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }
  .login_form#user_switch {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
  .login_form .btn {
    float: right;
    width: 100px; }

.select-user {
  margin-top: 30px; }
  .select-user li {
    display: inline-block;
    white-space: nowrap;
    height: 120px; }
    .select-user li a {
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      border-radius: 100px;
      height: 120px;
      margin: 0 25px; }
    .select-user li .select-user-align {
      display: inline-block;
      vertical-align: middle;
      height: 100%; }

.tabs_navigation_login {
  display: inline-block;
  text-align: center;
  margin: 0 auto; }
  .tabs_navigation_login li {
    margin: 0 25px -3px 0; }
    .tabs_navigation_login li:last-child {
      margin-right: 0px; }
  .tabs_navigation_login a {
    padding: 0 25px; }

/* LOGIN SCREEN END */
/* MAIN SCREEN */
.user {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 50px 0 80px;
  color: #ffffff;
  font-size: 1.6em;
  padding: 18px 14px;
  border-bottom: 1px solid #080f15;
  border-top: 1px solid #080f15;
  background: #030406; }
  .user img {
    float: left;
    margin-right: 18px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px; }
  .user p {
    margin: 10px 0 12px; }

.header {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border-bottom: 1px solid #dbdcdd; }
  .header .search {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
    height: 51px;
    float: right;
    margin: 0 25px 0 10px;
    background: #f4f5f6;
    border-left: 1px solid #dbdcdd;
    border-right: 1px solid #dbdcdd;
    border-bottom: 1px solid #f4f5f6; }

/* MAIN SCREEN END */
/* TABS */
.tabs_navigation {
  border-bottom: 3px solid #e6e6e6; }
  .tabs_navigation li {
    float: left;
    margin: 0 10px -3px 0; }
  .tabs_navigation a {
    text-decoration: none;
    color: #7f7f7f;
    border-bottom: 3px solid transparent;
    font-size: 1.8em;
    line-height: 2.5em;
    height: 44px;
    padding: 0 15px;
    display: block;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    .tabs_navigation a.active, .tabs_navigation a:hover {
      color: #555555;
      border-bottom: 3px solid #f1b603; }

.tabs {
  overflow: hidden;
  position: relative; }
  .tabs > li {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    width: 100%; }
    .tabs > li.active_tab {
      position: relative;
      display: block; }

/* TABS END */
