@import "compass/reset";
@import "compass/css3";

/* VARIABLES */

$orange: #f1b603;

$green: #89bc32;
$dark_green: #75a22b;

$pink: #d95353;

$red: #d95353;
$dark_red: #983a3a;

$yellow: #fdcb34;
$dark_yellow: #f1b603;

// $gray: ;
$dark_gray: #dbdcdd;

$sidebar_color: #05090c;
$light_sidebar_color: #080f15;
$dark_sidebar_color: #030406;
$background_color: #f4f5f6;

$font_main_color: #555555;
$secondary_font_color: #7f7f7f;

$light_gray: #e6e6e6;


/* VARIABLES END */


/* MIXINS */
@mixin master_transition {
	@include transition-property(all);
	@include transition-duration(0.3s);
}

@mixin alert_transition {
	@include transition-property(height, margin, padding);
	@include transition-duration(0.3s);
}

@mixin delayed_transition {
	@include transition-property(all);
	@include transition-duration(0.3s);
	@include transition-delay(1s);
}

@mixin border($border-side, $border-color) {
	border#{$border-side}: 1px solid #{$border-color};
}

@mixin sizing {
	@include box-sizing(border-box);
}
/* MIXINS END */


/* CLEARFIX */
.clearfix {
	zoom:1;
	&:before, &:after {
		content: "\0020"; 
		display: block; 
		height: 0; 
		overflow: hidden; 
	}
	&:after {
		clear: both;
	}
}
/* CLEARFIX END */


/* RESETS */
html, body{	
	height:100%;
}

body {
	font-family: 'Arimo', Helvetica, sans-serif;
	font-size: 62.5%;
}

* {
	outline: none;
}

a {
	text-decoration: none;
}

input, input::-moz-focus-inner {
	border: none;
}

input {
	-webkit-appearance: none;
	@include border-radius(0);
	border: none;
}

input:focus, textarea:focus, input:focus::-moz-focus-inner {
	outline: none;
	border: none;
}
/* RESETS END */

.rounded {
	@include border-radius(4px);
}

.rounded-big {
	@include border-radius(6px);
}

/* LAYOUT */
.two-columns {
	display: table;
	width: 100%;
	min-height: 100%;
}

.sidebar, .content {
	display: table-cell;
	vertical-align: top;
}

.sidebar {
	background: $sidebar_color;
	width: 250px;
}

.content {
	background: $background_color;
}
/* LAYOUT END */

/* BUTTONS AND LINKS */
.btn {
	@extend .rounded;
	@include sizing;
	@include master_transition;
	padding: 6px 10px;
	border: 2px solid;
	font-size: 1.4em;
	cursor: pointer;
	text-align: center;
	color: #ffffff;
}

.btn-wide {
	padding: 6px 15px;
}

.btn-apply {
	background: $green;
	border-color: $dark_green;

	&:hover {
		background: #ffffff;
		color: $green;
	}
}

.btn-deny {
	background: $red;
	border-color: $dark_green;

	&:hover {
		background: #ffffff;
		color: $red;
	}
}

.btn-logout {
	background: $pink;
	text-decoration: none;
	font-size: 0.8em;
	border: none;
	padding: 2px 14px 3px;

	&:hover {
		background: #ffffff;
		color: $pink;
	}
}

.link-simple {
	text-decoration: none;
	font-size: 1.3em;
	color: #ffffff;
	float: right;
	margin: 12px 12px 0 0;

	&:hover {
		text-decoration: underline;
	}
}
/* BUTTONS AND LINKS END */

/* INPUTS */
.input {
	@extend .rounded;
	@include sizing;
	@include master_transition;
	padding: 8px;
	font-size: 1.4em;
	text-align: center;
	margin: 0px;
	border: 1px solid $dark_gray;
	width: 100%;

	&:focus {
		border: 1px solid $green;
	}
}

.input-search {
	width: 180px;
	height: 100%;
	text-align: left;
	@include box-sizing(none);
	@include master_transition;
	background: url(../images/search-white.png) no-repeat 7px 7px white;
	padding-left: 28px;
	font-size: 1.2em;

	&:focus {
		width: 250px;
	}
}

.input-error {
	border: 1px solid $red;
	
	&:focus {
		border: 1px solid $dark_red;
	}
}
/* INPUTS END */

/* FORM ELEMENTS */
.form-list {

	li {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0px;
		}
	}
}
/* FORM ELEMENTS END */

/* ALERTS */
.alert {
	@include sizing;
	@include alert_transition;
	width: 100%;
	position: relative;
	margin-bottom: 10px;
	position: relative;
	font-size: 1.4em;
	padding: 15px;
	color: #ffffff;
	text-align: left;
}

.alert-close {
	background: url(../images/allertsButtons.png) -4px -2px no-repeat;
	display: block;
	height: 26px;
	width: 26px;
	float: right;
	margin: -5px -5px 0 0;
}

.alert-error {
	background: $red;
	border: 1px solid $dark_red;
}

.alert-success {
	background: $green;
	border: 1px solid $dark_green;
}

.alert-warning {
	background: $yellow;
	border: 1px solid $dark_yellow;
}

.alert-info {

}
/* ALERTS END */

/* MENU'S */
.navigation {

	li {
		@include border(-bottom, $light_sidebar_color);

		&:first-child {
			@include border(-top, $light_sidebar_color);
		}
	}
	
	.menu-item {
		@include sizing;
		padding: 0 0 0 15px;
		width: 100%;
		height: 50px;
		display: block;
		font-size: 1.6em;
		line-height: 3.2em;
		color: #ffffff;
		background: url(../images/menuArrows.png) no-repeat;
		background-position: 222px 14px;

		&:hover, &.active {
			color: #000000;
			background-color: $background_color;
			background-position: 222px -115px;
		}
	}
}

.breadcrumb {
	float: left;

	li {
		display: inline-block;
	}

	.breadcrumb-item {
		@include master_transition;
		@include border(-bottom, #ffffff);
		border-width: 3px;
		padding-bottom: 3px;
		color: #000000;
		font-size: 1.6em;
		
		&:hover {
			@include border(-bottom, $orange);
			border-width: 3px;
		}
	}
}

/* MENU'S END */

/* LOGIN SCREEN */
#login {
	width: 100%;
	height: 100%;
	display: block;
	background: $background_color;

	> div {
		@include sizing;
		width: 100%;
		height: 500px;
		display: block;
		padding-top: 100px;
		text-align: center;
	}
}

.login_form {
	background: url(../images/user_menu_background.jpg);
	width: 350px;
	margin: 25px auto 0;
	padding: 10px;
	overflow: hidden;
	@include opacity(0);

	&#user_switch {
		@include opacity(1);
	}

	.btn {
		float: right;
		width: 100px;
	}

}

.select-user {
	margin-top: 30px;

	li {
		display: inline-block;
		white-space: nowrap;
		height: 120px;

		a {
			display: inline-block;
			vertical-align: middle;
			white-space: nowrap;
			overflow: hidden;
			@include border-radius(100px);
			height: 120px;
			margin: 0 25px;
		}

		.select-user-align {
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
	}
}

.tabs_navigation_login {
	display: inline-block;
	text-align: center;
	margin: 0 auto;

	li {
		margin: 0 25px -3px 0;

		&:last-child {
			margin-right: 0px;
		}
	}

	a {
		padding: 0 25px;
	}
}
/* LOGIN SCREEN END */

/* MAIN SCREEN */
.user {
	@extend .clearfix;
	@include sizing;
	margin: 50px 0 80px;
	color: #ffffff;
	font-size: 1.6em;
	padding: 18px 14px;
	border-bottom: 1px solid $light_sidebar_color;
	border-top: 1px solid $light_sidebar_color;
	background: $dark_sidebar_color;

	img {
		float: left;
		margin-right: 18px;
		@include border-radius(100px);
	}

	p {
		margin: 10px 0 12px;
	}
}

.header {
	width: 100%;
	height: 50px;
	background: #ffffff;
	@include border(-bottom, $dark_gray);

	.search {
		@include sizing;
		padding: 10px 10px;
		height: 51px;
		float: right;
		margin: 0 25px 0 10px;
		background: $background_color;
		@include border(-left, $dark_gray);
		@include border(-right, $dark_gray);
		@include border(-bottom, $background_color);

		// input {
		// 	width: 150px;
		// }
	}
}

/* MAIN SCREEN END */

/* TABS */
.tabs_navigation {
	@extend .clearfix;
	border-bottom: 3px solid $light_gray;

	li {
		float: left;
		margin: 0 10px -3px 0;
	}

	a {
		text-decoration: none;
		color: $secondary_font_color;
		border-bottom: 3px solid transparent;
		font-size: 1.8em;
		line-height: 2.5em;
		height: 44px;
		padding: 0 15px;
		display: block;
		@include master_transition;

		&.active, &:hover {
			color: $font_main_color;
			border-bottom: 3px solid $orange;
		}
	}
}

.tabs {
	overflow: hidden;
	position: relative;

	> li {
		position: absolute;
		left: 0px;
		top: 0px;
		display: none;
		width: 100%;

		&.active_tab {
			position: relative;
			display: block;
		}
	}
}
/* TABS END */